---
http_interactions:
- request:
    method: get
    uri: http://www.bankisrael.gov.il/currency.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Sprequestguid:
      - 01db8619-0d1a-4914-a07a-fc103cbd1442
      X-Sharepointhealthscore:
      - '0'
      Microsoftsharepointteamservices:
      - 14.0.0.6109
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8" standalone="yes"?>
        <CURRENCIES>
          <LAST_UPDATE>2014-05-30</LAST_UPDATE>
          <CURRENCY>
            <NAME>Dollar</NAME>
            <UNIT>1</UNIT>
            <CURRENCYCODE>USD</CURRENCYCODE>
            <COUNTRY>USA</COUNTRY>
            <RATE>3.475</RATE>
            <CHANGE>-0.029</CHANGE>
          </CURRENCY>
          <CURRENCY>
            <NAME>Pound</NAME>
            <UNIT>1</UNIT>
            <CURRENCYCODE>GBP</CURRENCYCODE>
            <COUNTRY>Great Britain</COUNTRY>
            <RATE>5.8158</RATE>
            <CHANGE>0.11</CHANGE>
          </CURRENCY>
          <CURRENCY>
            <NAME>Yen</NAME>
            <UNIT>100</UNIT>
            <CURRENCYCODE>JPY</CURRENCYCODE>
            <COUNTRY>Japan</COUNTRY>
            <RATE>3.4188</RATE>
            [...]
